language: python
python:
  - 2.6
  - 2.7
install:
  - if [[ $TRAVIS_PYTHON_VERSION == '2.6' ]]; then pip install unittest2; fi
  - pip install -r requirements-dev.txt --use-mirrors
script: nosetests

